#This file provides location for the CSV file processed using pipeline, for further analysis in jupyter notebook run in Sagemaker instance.
#If client decides to switch to a another file to visualize insights, they need to update the s3 location for the specific file below.
{
  "S3_URI": "s3://datalake-processed-s3-mz/Winter/April/combined_file.csv"
}